.contaider{
    border: 2px solid #696969;
    border-radius: 10px;
    width: 400px;
    margin: 60px auto 0px;
}
.contaider_logo{
    margin-top: 30px;
}
.contaider_form{
    width: 300px;
    margin: 40px auto;
    text-align: center;
    position: relative;
}
legend {
    color: black;
    margin: 0px auto 20px;
    font-size:  20px;
}
input{
    border-radius: 3px;
    height: 25px;
    text-align: center;
    width: 300px;
    border: 1px solid #BDBDBD;
    margin-top: 5px;
}
input:focus{
    box-shadow: 0 0 0 0;
    border: 1px solid #6E6E6E;
    outline: 0;
}
.form_container{
    display: flex;
    justify-content:space-between;
    align-items:center;
}
button{
    padding: 10px 20px 10px;
    background: var(--azul);
    border-radius: 5px;
    border: 0px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}
.link{
    color: var(--azul);
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
}